{% extends "base2.html" %}
{% load static %}
{% load bootstrap3 %}
{% load gddmaker_extras %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                {% bootstrap_messages %}
                <h1>Todas as mídias do jogo: {{ game }}</h1>
                <p>Clique no item a sua escolha para ver mais detalhes</p>
            </div>

            <div class="row">
            {% for media in game.media_set.all %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="" data-toggle="collapse" href="#{{ media.id }}" aria-expanded="false" aria-controls="collapseExample">
                        <h3 class="panel-title">{{ media.name }}</h3>
                        </a>
                    </div>
                    <div class="panel-body collapse" id="{{ media.id }}">
                        <p>{{ media.description|safe }}</p>
                        <a href="{% url 'core:game_media_detail' game.id media.id %}" class="btn btn-info">
                            {% bootstrap_icon 'list-alt' %}
                            Ver detalhes
                        </a>
                        <a href="{% url 'core:game_media_edit' game.id media.id %}" class="btn btn-warning">
                            {% bootstrap_icon 'pencil' %}
                            Editar esta Mídia
                        </a>
                        <a href="{% url 'core:game_media_remove' game.id media.id %}"
                           class="confirm-remove btn btn-danger">
                            {% bootstrap_icon 'remove' %}
                            Apagar esta Mídia
                        </a>
                    </div>
                </div>
            {% endfor %}
            </div>


        </div>

    </div>


{% endblock %}