{% extends "base2.html" %}
{% load static %}
{% load bootstrap3 %}
{% load embed_video_tags %}
{% block content %}
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                {% bootstrap_messages %}
                <h1>Mídia: {{ media.name }}</h1>
                <span class="label label-default text-uppercase">{% bootstrap_icon 'star' %}Faz parte do jogo: {{ media.game.name }}</span>
                <h4>Descrição</h4>
                <p>{{ media.description|safe }}</p>
                {% if media.type == "PICTURE" %}
                    <h4>Mídia do Tipo: Imagem</h4>
                    {% if media.file %}
                        <a href="{{ media.file.url }}" >
                            <img  width="40%" alt="Clique para ampliar" src="{{ media.file.url }}"/>
                        </a>
                    {% elif media.url %}
                        <a href="{{ media.url }}" >
                            <img  width="40%" alt="Clique para ampliar" src="{{ media.url }}"/>
                        </a>
                    {% endif %}
                {% endif %}

                {% if media.type == "VIDEO" %}
                    <h4>Mídia do Tipo: Video</h4>
                    {% video media.url 'medium' %}
                {% endif %}

                {% if media.type == "AUDIO" %}
                    <h4>Mídia do Tipo: Audio</h4>
                    {% if media.file %}
                        <audio controls>
                            <source src="{{ media.file.url }}">
                        </audio>
                    {% elif media.url %}
                        <audio controls>
                            <source src="{{ media.url }}">
                        </audio>
                    {% endif %}

                {% endif %}
            </div>


        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Ações</h3>
                </div>
                <div class="panel-body">
                    <a href="{% url 'core:game_detail' media.game.id %}" class="btn btn-success center-block">Ir para o
                        Jogo</a>
                    {#                    <a href="{% url 'core:game_new' %}" class="center-block btn btn-info">Ver histórico</a>#}
                    <a href="{% url 'core:game_media_edit' media.game.id media.id %}"
                       class="center-block btn btn-warning">Editar Mídia</a>
                    <a href="{% url 'core:game_media_remove' media.game.id media.id %}"
                       class="confirm-remove center-block btn btn-danger">Apagar Mídia</a>
                </div>
            </div>

            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">Fases <span class="badge">{{ media.level_set.count }}</span></h3>
                </div>
                <div class="panel-body">
                    {% for level in media.level_set.all %}
                        <a class="sem-linha" href="{% url 'core:game_level_detail' media.game.id level.id %}">
                            <span class="label label-danger text-uppercase">
                                {% bootstrap_icon 'list-alt' %}
                                {{ level.name|truncatechars:'30' }}
                            </span>
                        </a>
                    {% endfor %}

                    <hr/>
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Personagens <span class="badge">{{ media.character_set.count }}</span></h3>
                </div>
                <div class="panel-body">
                    {% for character in media.character_set.all %}
                        <a class="sem-linha" href="{% url 'core:game_character_detail' media.game.id character.id %}">
                            <span class="label label-info text-uppercase">
                                {% bootstrap_icon 'user' %}
                                {{ character.name }}
                            </span>
                        </a>
                    {% endfor %}
                    <hr/>
                </div>
            </div>

            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Mecânicas <span class="badge">{{ media.mechanic_set.count }}</span></h3>
                </div>
                <div class="panel-body">

                    {% for mechanic in media.mechanic_set.all %}
                        <a class="sem-linha" href="{% url 'core:game_mechanic_detail' media.game.id mechanic.id %}">
                            <span class="label label-warning text-uppercase">
                                {% bootstrap_icon 'cog' %}
                                {{ mechanic.name }}
                            </span>
                        </a>
                    {% endfor %}

                    <hr/>
                </div>
            </div>
        </div>
    </div>

{% endblock %}