{% extends "base2.html" %}
{% load static %}
{% block content %}

    <div class="row">
        <div class="col-md-12 content">

            <div class="col-md-3"></div>
            <div class="col-md-6">

                <h1 class="text-center">Você não tem permissão para acessar essa página.</h1>
                <a href="{% url 'core:dashboard' %}" class="btn btn-primary center-block">Ir para Dashboard</a>

            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
{% endblock %}

